<div class="container">
  <div class="header">
    <h3 class="title">
      Gerenciamento de transações
    </h3>
    <p class="description">
      Aqui você pode gerenciar as transações e importar arquivos cnab.
    </p>
  </div>

  <div class="content">
    <div>
      <app-transaction-save (inserted)="afterSave()"></app-transaction-save>
    </div>

    <div class="buttons">
      <button mat-flat-button color="primary" [ngClass]="{disabled:!saveRef?.file}" (click)="save();">
        Importar arquivo cnab
      </button>

      <button mat-flat-button color="primary" (click)="list()">
        Atualizar lista
      </button>

    </div>

    <div *ngIf="!loading">
      <app-transaction-list></app-transaction-list>
    </div>

    <div *ngIf="loading && listRef?.transactions?.length === 0" class="loading">
      <mat-spinner></mat-spinner>
    </div>

  </div>
</div>
