.container {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  
    .header {
      .title {
        font-size: 28px;
        font-weight: bold;
        color: #444444;
        margin-bottom: 0px;
      }
  
      .description {
        color: #707070;
        font-size: 16px;
      }
    }
  
  }