<div class="container">
    <div class="header">
        <h3 class="title">
            Gerenciamento de transações
        </h3>
        <p class="description">
            Aqui você pode gerenciar as transações e importar arquivos cnab.
        </p>
    </div>

    <div class="content">
       <div class="list">
            <div class="list-item">
                <mat-card *ngFor="let transaction of transactions">
                    <div class="item-content">
                        <div class="item-column">
                            {{transaction.owner}}
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>