.file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border: 1px dashed #8047a2;
  border-radius: 5px;
  background-color: #fafafa;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }

  &.file-added {
    border: 1px dashed #10b761;

    .file-button {

      .file-text span,
      .file-icon mat-icon {
        color: #10b761;
      }
    }
  }

  .input-file {
    display: none;
  }

  .file-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .file-icon mat-icon {
      font-size: 3rem;
      color: #8047a2;
    }

    .file-text span {
      font-size: 1.5rem;
      color: #8047a2;
      text-align: center;
    }
  }
}
