<div draggable="true" class="file" [ngClass]="{'file-added':file }" (click)="inputFile.click()">
  <input #inputFile class="input-file" type="file" (change)="fileChange(inputFile)">

  <ng-container *ngIf="!file">

    <div class="file-button">
      <div class="file-icon">
        <mat-icon>cloud_upload</mat-icon>
      </div>

      <div class="file-text">
        <span>Clique aqui para adicionar um arquivo</span>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="file">
    <div class="file-button">

      <div class="file-icon">
        <mat-icon>save_alt</mat-icon>
      </div>

      <div class="file-text">
        <span>Arquivo adicionado: {{file.name}}</span>
      </div>

    </div>
  </ng-container>
</div>
